body {
  background-color: #333;
  color: white;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: lightsteelblue;
}

.axis {
  font: 10px sans-serif;
}

.axis text {
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: 0.5em;
  font-size: 24px;
  background: lightsteelblue;
  color: black;
  line-height: 1.5;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.gdp {
  font-size: 15px;
}
